{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.2.4"}}},
    {rabbit_common, "3.6.10"},
    {amqp_client, "3.6.10"},
    {exometer_core, {git, "https://github.com/Feuerlabs/exometer_core.git", {branch, "master"}}},
    {gproc, {git, "https://github.com/uwiger/gproc", {branch, "master"}}},
    {uuid, {git, "https://github.com/okeuday/uuid", {branch, "master"}}}
]}.
