{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "3.6.7"},
    {rabbit_common, "3.7.12"},
    {amqp_client, "3.7.12"},
    {exometer_core, "1.5.7"},
    {gproc, "0.8.0"},
    {uuid, "1.7.1", {pkg, uuid_erl}}
]}.

{overrides,
   [{override, ranch_proxy_protocol, [{erl_opts, [debug_info]}]}]
}.
