{erl_opts, [
    debug_info
]}.

{deps, [
    {amqp_client, "3.11.13"},
    {amqp_client, "3.11.13"},
    {exometer_core, "1.6.2"},
    {exometer_core , ".*", {git, "https://github.com/Feuerlabs/exometer_core.git", {branch, "master"}}},
    {gproc, "0.9.0"},
    {uuid, "2.0.5", {pkg, uuid_erl}}
]}.

{overrides,
   [{override, ranch_proxy_protocol, [{erl_opts, [debug_info]}]}]
}.
